services:
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - messaging_data:/var/lib/postgresql/data/
  adminer:
    image: adminer
    ports:
      - "8081:8080"
    depends_on:
      - db
volumes:
  messaging_data:
  
