services:
  web:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    image: app:app
    container_name: django_middleware_app
    command: python manage.py runserver 0.0.0.0:8000 
    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - .env

  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - messaging_data:/var/lib/postgresql/data/
  adminer:
    image: adminer
    ports:
      - "8081:8080"
    depends_on:
      - db
volumes:
  messaging_data:
  
