services:
  app:
    build: .
    container_name: message_app_web
    ports: 
      - "8000:8000"
      
    command: >
      python manage.py runserver 0.0.0.0:8000
    image: app:messaging_app_image
    volumes:
      - .:/app
    environment:
      - DATABASE_HOST=db
      

    depends_on:
      - db
  db:
    image: mysql:8.0.44
    
    environment:
      - MYSQL_DB=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}

    ports:
      - "3306:3306" 
    volumes:
      - messaging_data:/var/lib/mysql/
      

  # db:
  #   image: postgres:16-alpine
  #   environment:
  #     - POSTGRES_DB=${DB_NAME}
  #     - POSTGRES_USER=${DB_USER}
  #     - POSTGRES_PASSWORD=${DB_PASSWORD}
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - messaging_data:/var/lib/postgresql/data/
  adminer:
    image: adminer
    ports:
      - "8080:8080"
    depends_on:
      - db
   

volumes:
  messaging_data:
  
