# version: '3.9'

# services:
#   db:
#     image: mysql:8.0
#     container_name: messaging_db
#     restart: always
#     env_file:
#       - .env
#     environment:
#       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#       MYSQL_DB: ${MYSQL_DB}
#       MYSQL_USER: ${MYSQL_USER}
#       MYSQL_PASSWORD: ${MYSQL_PASSWORD}
#     ports:
#       - "3306:3306"
#     volumes:
#       - db_data:/var/lib/mysql

#   web:
#     build: .
#     container_name: messaging_web
#     restart: always
#     env_file:
#       - .env
#     command: python3 manage.py runserver 0.0.0.0:8000
#     volumes:
#       - .:/app
#     ports:
#       - "8000:8000"
#     depends_on:
#       - db

#   adminer:
#     image: adminer
#     container_name: messaging_adminer
#     restart: always
#     ports:
#       - "8081:8081"
#     depends_on:
#       - db
#     command: ["adminer", "-p", "8081"]
#     networks:
#       - backend
    

# networks:
#   backend:

# volumes:
#   db_data:


version: '3.9'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DJANGO_SETTINGS_MODULE=messaging_app.settings

  db:
    image: mysql:8.0
    environment:
      MYSQL_DB: messaging_db
      MYSQL_USER: messaging_user
      MYSQL_PASSWORD: messaging_pass
      MYSQL_ROOT_PASSWORD: rootpassword
    
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    environment: 
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: adminpassword
    ports:
      - "5672:5672"
      - "15672:15672"


  adminer:
    image: adminer
    container_name: messaging_adminer
    
    ports:
       - "8081:8081"
    depends_on:
        - db
    command: ["adminer", "-p", "8081"]
    networks:
      - backend

volumes:
  db_data:
networks:
  backend:
